/* banner */
.banner {
    /* background image를 가져오는 방법 1 */
    background-image: url("../images/main-img/banner.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    height: 448px;
}

.banner_contents {
    margin-left: 30px;
    padding-top: 190px;
    height: 190px;
}

.banner_title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner_btn {
    margin-top: 5px;
    margin-bottom: 10px;
}

.banner_btn button {
    width: 60px;
    height: 30px;
    color: black;
    border-radius: 2px;
    border: 1px solid transparent;
}

.banner_btn button:hover {
    background-color: rgb(171, 163,163);
    cursor: pointer;
}

.banner_description {
    line-height: 1.5;
    padding-top: 0.5rem;
    font-size: 1rem;
}