.navbar {
    background-color: #111;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navbar li {
    list-style: none;
    padding: 1rem;
}

.navbar li a {
    padding: 2px 2px;
    text-decoration: none;
    color: #fff;
}

.navbar li a:hover{
    color: aqua;
}

.logo {
    height: 45px;
    width: 90px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 100%;
}

.user-icon {
    height: 45px;
    width: 45px;
    margin-top: 4px;
    display: flex;
    align-items: center;
}

.user-icon img {
    width: 100%;
}